.btn{
    padding-block: 10px;
    margin-top: 10px;
    padding-inline: 20px;
    background:#8a2be2;
    color: #fff;
    width: 100%;
}

.btn:hover{
    opacity: .8;
}

.btn_click{
    padding-block: 5px;
    margin-top: 5px;
    padding-inline: 20px;
    background:#8a2be2;
    color: #fff;
    width: 50%;
}